<style>
    .loader_in_css{
        top:50%;
        left:50%;
        position:fixed;z-index:1}
    .table_div  td{ border-top:0px !important;}
    #records_table  td{ border-top:0px !important;}
    /* .table_div tr:nth-child(even) {background-color:#ccc;}
     .table_div tr:nth-child(odd) {background-color:#FFF;}
     #records_table{background-color:transparent;}
     #records_table tr:nth-child(even) {background-color:transparent;}
     #records_table tr:nth-child(odd) {background-color:transparent;}*/

</style>
<div class="loader_in_css" ng-show="loader"><img src="images/loader.GIF"/></div>
<div ng-disabled="true">
    <div id="cover" ng-show="loader"></div>
<div class="container" ng-init="finalResponse()">
    <div class="alert alert-danger" id="err">{{errorMessage}}</div>
    <h3 ng-if="!isEdit">Product Registration</h3>
    <h3 ng-if="isEdit">Edit Product Registration</h3>
    <span class="pull-right" style="margin-top:-40px;"><button type="button" class="btn btn-default" ng-click=Back_Drafts()><< Drafts</button></span>
    <form
            name="productRegistrationForm"
            class="form-horizontal"
            role="form"
            novalidate>
        <fieldset>
            <legend>Facility Information</legend>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="control-label col-sm-3">Facility Name  <span class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <!--<input type="text"
                               name="selectFacility" id="selectedFacility"
                               ng-model="productRegistration.selectedFacility"
                               typeahead="facility as facility.name for facility in facilities | filter:$viewValue | limitTo:8"
                               class="form-control"
                               required
                               ng-disabled="ViewDisabled">-->
                        <select
                                ng-model="productRegistration.selectedFacility"
                                name="selectFacility" id="selectedFacility"
                                ng-options="facility as facility.name for facility in facilities |  orderBy:'name'"
                                ng-change="onFacilitySelected()"
                                class="form-control"
                                required
                                ng-disabled="ViewDisabled"
                        >
                            <option  value="">Select facility name</option>

                        </select>
                        <div class="error-container"
                             ng-show="productRegistrationForm.selectFacility.$dirty && productRegistrationForm.selectFacility.$invalid">
                            <small class="text-danger"
                                   ng-show="productRegistrationForm.selectFacility.$error.required">
                                Please select facility name </small>
                        </div>
                    </div>
                    <div class="col-sm-2" style="text-align:right">
                        <button class="btn btn-primary" ng-click="addFacility()" ng-disabled="ViewDisabled">New</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="FacilityAddress" class="control-label col-sm-3">Facility Address</label>

                    <div class="col-sm-8">
                        <input
                                id="FacilityAddress"
                                class="form-control"
                                name="FacilityAddress"
                                ng-model="facilityInfo.address.street"
                                ng-disabled="isDisabled"

                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="FacilityPhone" class="control-label col-sm-3">Facility Phone</label>

                    <div class="col-sm-8">
                        <input
                                id="FacilityPhone"
                                class="form-control"
                                name="FacilityPhone"
                                ng-model="facilityInfo.phoneNumber"
                                ng-disabled="isDisabled"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="customerType" class="control-label col-sm-3">Customer Type</label>

                    <div class="col-sm-8">
                        <input
                                id="customerType"
                                class="form-control"
                                name="customerType"
                                ng-model="facilityInfo.customerType"
                                ng-disabled="isDisabled"
                        />

                    </div>
                </div>
                <div class="form-group">
                    <label for="customerSubType" class="control-label col-sm-3">Customer Sub-Type</label>

                    <div class="col-sm-8">
                        <input
                                id="customerSubType"
                                class="form-control"
                                name="customerSubType"
                                ng-model="facilityInfo.customerSubType"
                                ng-disabled="isDisabled"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="customerSubSubType" class="control-label col-sm-3">Customer Sub-Sub-Type</label>

                    <div class="col-sm-8">
                        <input
                                id="customerSubSubType"
                                class="form-control"
                                name="customerSubSubType"
                                ng-model="facilityInfo.customerSubSubType"
                                ng-disabled="isDisabled"
                        />

                    </div>
                </div>
                <div class="form-group">
                    <label for="facilityBrand" class="control-label col-sm-3">Facility Brand</label>

                    <div class="col-sm-8">
                        <input
                                id="facilityBrand"
                                class="form-control"
                                name="facilityBrand"
                                ng-model="facilityInfo.customerBrand"
                                ng-disabled="isDisabled"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="facilitySubBrand" class="control-label col-sm-3">Facility Sub-Brand</label>

                    <div class="col-sm-8">
                        <input
                                id="facilitySubBrand"
                                class="form-control"
                                name="facilitySubBrand"
                                ng-model="facilityInfo.customerSubBrand"
                                ng-disabled="isDisabled"
                        />

                    </div>
                </div> </div>
            <div class="col-sm-1"></div>


        </fieldset>
        <fieldset>
            <legend>Contact Information</legend>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">   <div class="form-group">
                <label for="contactInfo" class="control-label col-sm-3">Contact
                    <span class="text-danger">*</span>
                </label>

                <div class="col-sm-6">
                    <select
                            id="contactInfo"
                            class="form-control"
                            name="contactInfo"
                            ng-model="productRegistration.contactInfo"
                            ng-options="contactInfo._id as contactInfo._firstName+ ' ' +contactInfo._lastName+ ' ' +contactInfo._emailAddress+ ' ' +contactInfo._phoneNumber for contactInfo in facilityContacts"
                            required
                            ng-disabled="ViewDisabled"
                    >
                        <option value="">Select facility contact</option>
                        <!--<option  ng-repeat="contactInfo in facilityContacts" value="{{contactInfo._id}}"> {{contactInfo._firstName}} {{contactInfo._lastName}} {{contactInfo._emailAddress}} {{contactInfo._phoneNumber}}</option>-->
                    </select>
                    <div class="error-container"
                         ng-show="productRegistrationForm.contactInfo.$dirty && productRegistrationForm.contactInfo.$invalid">
                        <small class="text-danger"
                               ng-show="productRegistrationForm.contactInfo.$error.required">
                            Please select facility contact </small>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" id="contactIdButton" ng-disabled="contactIdButtonIsDisabled" ng-click="newContact()">New</button>
                </div>
                <div class="col-sm-2"><small class="text-warning" ng-show="contactIdButtonIsDisabled" >Please select a facility to enable this button</small></div>
            </div>
            </div>

        </fieldset>
        <fieldset>
            <legend>Sale Information</legend>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">

                <div class="form-group">
                    <label class="control-label col-sm-3">Sell Date
                        <span class="text-danger">*</span>
                    </label>

                    <div class="col-sm-3">
                        <p class="input-group">
                            <input
                                    type="text"
                                    class="form-control"
                                    name="sellDate"
                                    data-date-Format datepicker-localdate
                                    uib-datepicker-popup="{{format}}"
                                    ng-model="productRegistration.sellDate"
                                    is-open="status.opened"
                                    datepicker-options="dateOptions"
                                    close-text="Close"
                                    placeholder="MM/DD/YYYY"
                                    required
                                    ng-disabled="ViewDisabled"
                                    style="z-index:0;"
                            />
              <span class="input-group-btn">
                <button  style="z-index:0;" ng-disabled="ViewDisabled" type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                        <div class="error-container"
                             ng-show="productRegistrationForm.sellDate.$dirty && productRegistrationForm.sellDate.$invalid">
                            <small class="text-danger"
                                   ng-show="productRegistrationForm.sellDate.$error.required">
                                Please select sell date </small>
                            <small class="text-danger"
                                   ng-show="productRegistrationForm.sellDate.$invalid" ng-if="!(productRegistrationForm.sellDate.$error.required)">
                                Please enter valid date in MM/DD/YYYY format </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="control-label col-sm-3">Install Date
                        <span class="text-danger">*</span>
                    </label>

                    <div class="col-sm-3">
                        <p class="input-group" >
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="MM/DD/YYYY"
                                    required
                                    name="installDate"
                                    data-date-Format datepicker-localdate
                                    uib-datepicker-popup="{{format}}"
                                    datepicker-options="dateOptions"
                                    close-text="Close"
                                    is-open="status.opened1"
                                    ng-model="productRegistration.installDate"
                                    style="z-index:0;"
                            />
              <span class="input-group-btn">
                <button  style="z-index:0;" ng-disabled="ViewDisabled" type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                        <div class="error-container"
                             ng-show="productRegistrationForm.installDate.$dirty && productRegistrationForm.installDate.$invalid ">
                            <small class="text-danger"
                                   ng-show="productRegistrationForm.installDate.$error.required">
                                Please select install date </small>
                            <small class="text-danger"
                                   ng-show="productRegistrationForm.installDate.$invalid" ng-if="!(productRegistrationForm.installDate.$error.required)">
                                Please enter valid date in MM/DD/YYYY format </small>
                        </div>


                    </div>
                </div>
                <div class="form-group">
                    <label for="invoiceNumber" class="control-label col-sm-3">Invoice #
                        <span class="text-danger">*</span></label>

                    <div class="col-sm-8">
                        <input
                                id="invoiceNumber"
                                class="form-control"
                                name="invoiceNumber"
                                ng-model="productRegistration.invoiceNumber"
                                placeholder="Enter invoice number"
                                required
                                ng-disabled="ViewDisabled"
                        />
                        <div class="error-container"
                             ng-show="productRegistrationForm.invoiceNumber.$dirty && productRegistrationForm.invoiceNumber.$invalid">
                            <small class="text-danger"
                                   ng-show="productRegistrationForm.invoiceNumber.$error.required">
                                Please enter invoice number </small>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="customerSource" class="control-label col-sm-3">Customer Source</label>
                    <div class="col-sm-8">
                        <select
                                ng-model="productRegistration.customerSource"
                                id="customerSource"
                                class="form-control"
                                name="customerSource"
                                ng-options="customerSource.id as customerSource.name for customerSource in customerSources | orderBy:'name'"
                                ng-disabled="ViewDisabled"
                        >
                            <option value="">Select customer source</option>
                            <!--<option  ng-repeat="customerSource in customerSources"   value={{customerSource.id}} >{{customerSource.name}}</option>-->

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="managementCompany" class="control-label col-sm-3">Management Company</label>
                    <div class="col-sm-8">
                        <select
                                ng-model="productRegistration.managementCompany"
                                id="managementCompany"
                                class="form-control"
                                name="managementCompany"
                                ng-options="managementCompany.id as managementCompany.name for managementCompany in managementCompanies | orderBy:'name'"
                                ng-disabled="ViewDisabled"
                        >
                            <option value="">Select management company</option>
                            <!--<option  ng-repeat="managementCompany in managementCompanies"   value="{{managementCompany.id}}" >{{managementCompany.name}}</option>-->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="buyingGroup" class="control-label col-sm-3">Buying Group</label>
                    <div class="col-sm-8">
                        <select
                                ng-model="productRegistration.buyingGroup"
                                id="buyingGroup"
                                class="form-control"
                                name="buyingGroup"
                                ng-options="buyingGroup.id as buyingGroup.name for buyingGroup in buyingGroups | orderBy:'name'"
                                ng-disabled="ViewDisabled"
                        >
                            <option value="">Select buying group</option>
                            <!--<option  ng-repeat="buyingGroup in buyingGroups"   value="{{buyingGroup.id}}" >{{buyingGroup.name}}</option>-->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Dealer Rep</label>
                    <div class="col-sm-6">
                        <select
                                id="dealerRep"
                                class="form-control"
                                name="dealerRep"
                                ng-model="productRegistration.dealerRep"
                                ng-options="dealer.id as dealer.firstName+' '+dealer.lastName for dealer in dealers | orderBy:'firstName'"
                                ng-disabled="ViewDisabled"
                        >
                            <option value="">Select dealer rep</option>
                            <!--<option  ng-repeat="dealer in dealers"   value="{{dealer.id}}" >{{dealer.firstName}} {{dealer.lastName}}</option>-->
                        </select>

                    </div>
                    <div class="col-sm-2" style="margin-top:10px;">
                        <a class="block-button" ng-click="showAddPartnerRepModal()" style="cursor:pointer;text-decoration:underline;">Add Dealer Rep</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>

        </fieldset>
        <fieldset>
            <legend>Product Information</legend>
            <div class="col-sm-1"></div>
            <div class="col-sm-10" >

                <div class="form-group">
                    <div class="pull-left"><h3 style="margin-top:6px;">My Current Registration</h3></div>
                    <div class="pull-right">
                        <label class="control-label col-sm-6">Filter by product type :</label>
                        <div class="col-sm-6">
                            <select class=" form-control "
                                    name="ProductType"
                                    ng-model="productsGroupType.product"
                                    ng-options="product as product.name for product in productsTypeList"
                            >
                                <option  value="" selected >All</option>
                            </select>

                        </div>
                    </div>


                </div>
                <div class="table-responsive">
                <table class="table table_div" ng-if="!isEdit">
                    <thead >
                    <tr>
                        <th style="background-color:#ccc;">Serial Number</th>
                        <th style="background-color:#ccc;">Product Line</th>
                        <th style="background-color:#ccc;">Actions</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr ng-repeat="(key,value) in prodListJson " >
                        <td colspan="3" style="border-top:0px;">
                            <table class="table" id="records_table" style="margin-bottom:0px;">
                                <tr  ng-repeat="(k,v) in value | filter:{productGroupId:productsGroupType.product.id}:true" ng-class="setColor(value.length)">
                                    <td>{{v.serialNumber}}</td>
                                    <td>{{v.productLineName}}</td>
                                    <td ><span ng-if="$index==0" class="glyphicon glyphicon-remove-circle"
                                              aria-hidden="true"
                                              style="color: red; margin-left: 10px; cursor: pointer"
                                              ng-click="removeSaleLineItem(key)">
                                            </span>
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>

                </table>
                    <table class="table table_div" ng-if="isEdit">
                        <thead >
                        <tr >
                            <th  style="background-color:#ccc;">Serial Number</th>
                            <th  style="background-color:#ccc;"> Product Line</th>
                            <th style="background-color:#ccc;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="simple in EditDraft.simpleLineItems | filter:{productGroupId:productsGroupType.product.id}:true">
                            <td>{{simple.serialNumber}}</td>
                            <td>{{simple.productLineName}}</td>
                            <td><span class="glyphicon glyphicon-remove-circle"
                                                     aria-hidden="true"
                                                     style="color: red; margin-left: 10px; cursor: pointer"
                                                     ng-click="removeSimpleLineItem(simple)">
                                            </span>
                            </td>

                        </tr>
                        <tr ng-repeat="composite in EditDraft.compositeLineItems | filter:{components:{productGroupId:productsGroupType.product.id}}:true ">
                            <td colspan="4">
                                <table class="table" style="margin-bottom: 0px;">
                                    <tr ng-repeat="component in composite.components "  style="background-color:#ccc;">
                                        <td>{{component.serialNumber}}</td>
                                        <td>{{component.productLineName}}</td>
                                        <td><span ng-if="$index==0" class="glyphicon glyphicon-remove-circle"
                                                  aria-hidden="true"
                                                  style="color: red; margin-left: 10px; cursor: pointer"
                                                  ng-click="removeCompositeLineItem(composite)">
                                            </span>
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                <button class="btn btn-primary" ng-click="addProduct()" ng-disabled="ViewDisabled">Add product</button><br/>
                <span id="error_product" class="text-danger" style="display:none;">Please add product</span>

            </div>
            <div class="col-sm-1"></div>
        </fieldset>
        <fieldset>
            <legend>Invoice</legend>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">   <div class="form-group">
                <label class="control-label col-sm-12">
                    <div class="fileUpload btn btn-primary col-sm-2" ng-disabled="ViewDisabled">
                        <span>Upload invoice</span>
                        <input
                                name="saleInvoiceFile"
                                type="file"
                                ng-model="files"
                                ngf-select="true"
                                ngf-change="handleFileSelection($files)"
                                ngf-multiple="false" class="upload" id="uploadBtn"
                        />
                    </div>
                    <div class="col-sm-3 text_box" >
                        <input id="uploadFile" ng-model="productRegistration.invoiceUrl" placeholder="Choosen file"
                               disabled="disabled"
                               style="height: 34px; padding: 3px;font-size:12px;" ng-disabled="true"/>
                    </div></label>

            </div></div>
            <div class="col-sm-1"></div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-9">
                <button ng-if="isEdit" class="btn btn-primary" type="submit" ng-click="save_next_submit()" ng-disabled="ViewDisabled">Update</button>
                <button ng-if="!isEdit" class="btn btn-primary" type="submit" ng-click="save_next_submit()" ng-disabled="ViewDisabled">Next</button>
                <button class="btn btn-warning" type="button" ng-click="saveNext_cancel()" ng-disabled="ViewDisabled">Cancel</button>
            </div>
        </div>
    </form>
</div>
</div>
<script>
    $(document).ready(function(){
        $('#uploadBtn').on('change', function(){
            $(".text_box").show();
            var path = $( "#uploadBtn" ).val();
            var filename = path.replace(/^.*\\/, "");
            $("#uploadFile").val(filename);
        });
    });
</script>